*{

    box-sizing: border-box;
}
table,
th,
td  {
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
    width: 80%;
}
table {
    width: 80%;
    margin: auto;
}
th {
    background-color: rgb(2, 49, 16);
    color: black;
    padding: 10px 5px 10px 5px;
}
.tfoot {
    
}
th,
td  {
    padding: 5px;
}
tr:hover {
    background-color: blue;
    cursor: grab;
}